# SPDX-License-Identifier: CC0-1.0
#
# SPDX-FileCopyrightText: 2020 Western Digital Corporation or its affiliates. 

# Object files
*.o
*.lo
*.obj
*.elf
*.la
*.so
*.so.*
*.out

zbd
!tools/zbd
gzbd
!tools/gzbd
gzbd-viewer
!tools/gzbd-viewer

# Dependency files
.depfile
.depend

# RPM build filed and directories
rpmbuild/BUILDROOT
rpmbuild/BUILD
rpmbuild/RPMS
rpmbuild/SOURCES
rpmbuild/SPECS
rpmbuild/SRPMS
*.tar.gz
*.rpm

# Other
Thumbs.db
desktop.ini
.DS_Store
*~

# Autotools stuff
m4/*.m4
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
include/config.h.in
Makefile
config.log
config.status
include/config.h
include/stamp-h1
.deps
libtool
libzbd.pc
.libs
.dirstamp
